body {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 600;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 1350px;
}

td {
  padding: 0;
}

#root {
  height: 100%;
}