body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td {
  padding: 0;
}

#root {
  height: 1350px;
}
